{% extends 'user/base_user.html' %}

{% block content %}
<div style="margin-top: 150px;">
    <div class="container mt-5">
        <h3 class="mb-4" style="font-weight: bold; font-family: 'Helvetica Neue', sans-serif;">SELECT ADDRESS</h3>
        <div class="row">
            <div class="col">
                <form>
                    <table class="table table-bordered table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center">Address Details</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for address in addresses %}
                            <tr>
                                <td class="text-center">{{ address.id }}</td>
                                <td>
                                    <p class="text-center"><strong>{{ address.name }}</strong></p>
                                    <p class="text-center">{{ address.postoffice }}, {{ address.street }}, {{address.city}},
                                        {{ address.state }}, {{ address.country }}, {{ address.pin_code }}</p>
                                </td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <a href="{% url 'edit_address' address.id %}"
                                            class="btn btn-sm btn-primary mr-1">Edit</a>
                                        <a href="{% url 'delete_address' address.id %}"
                                            class="btn btn-sm btn-danger">Delete</a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col text-center">
                <a href="{% url 'add_address' %}" class="btn btn-primary">
                    <h4>Add Address</h4>
                </a>
            </div>
        </div>
    </div>
    {% endblock %}