{% extends 'adm/base.html' %}

{% load static %}

{% block content %}
<div class="card mb-4" style="width: 100%;">
    <div class="card-header">
        <h2>Product Color</h2>
    </div>
    <div class="card-body">
        <h5 class="mb-4">Product Color List</h5>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Color</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for color in product_color %}
                    <tr>
                        <td>{{ color.id }}</td>
                        <td>{{ color.name }}</td>
                        <td>
                            <a href="{% url 'edit_product_color' color.id %}" class="btn btn-primary btn-sm">Edit</a>
                            <a href="{% url 'delete_product_color' color.id %}" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <a href="{% url 'add_product_color' %}" class="btn btn-primary" style="width: 170px;">Add Color</a>
</div>

{% endblock %}